body{
    margin: 0px 0px 0px 0px;
    padding: 0;
    background: #f1f1f1;
}
.box1{
    position: relative;
    padding: 0;
}
.box1 .head{
    width: 100%;
    height: 40px;
    background: #e9eaeb;
    margin: 0px 0px 0px 0px;
    padding: 0;
    top: -17px;
}
.box1 .head .head1{
    display: inline-block;
    float: left;
    margin-left: 400px;
    margin-top: 20px;
    color: #999999;
    font-size: 12px;
    font-family: 微软雅黑;
}
.box1 .head .head2{
    display: inline-block;
    position: absolute;
    top: 1px;
    float: right;
    width: 700px;
    height: 40px;
    padding: 0;
    margin-right: 200px;
}
.box1 .head .head2 ul li{
    list-style: none;
    float: right;
    margin-left: 10px;
}
.box1 .head .head2 ul li .box12{
    border-left: 1px solid #b1b1b1;
}
.box1 .head .head2 ul li a{
    text-decoration: none;
    color: #999999;
    padding-left: 5px;
    font-size: 12px;
    font-family: 微软雅黑;
    line-height: 20px;
}
.box1 .head .head2 ul li .box11{
    color: #F10215;
}
.box1 .head .logo{
    position: absolute;
    width: 180px;
    height: 170px;
    background: url("01logo.png") no-repeat -5px 0px;
    background-color: white;
    left: 100px;
}
.box1 .head .ma{
    position: absolute;
    width: 70px;
    height: 70px;
    background: url("04-1.png") no-repeat 0 0;
    right:183px;
    top: 35px;
}
.box1 .head .ipt input{
    display: inline-block;
    outline-style: none;
    position: absolute;
    top: 70px;
    left: 400px;
    width: 500px;
    height: 30px;
    color: #999999;
    border: 1px red solid;
    background-color: white;
}
.box1 .head .ipt .p2{
    display: inline-block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 80px;
    left: 820px;
    background: url("05相机.png") no-repeat 10px 0px;
}
.box1 .head .ipt .p{
    display: inline-block;
    width: 40px;
    height: 33px;
    background-color: #F10215;
    position: absolute;
    top: 70px;
    left: 862px;
}
.box1 .head .ipt .p1{
    margin-top: 8px;
    margin-left: 11px;
}
.box1 .head .gouwu{
    display: inline-block;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 72px;
    left: 925px;
    color: #F10215;
    background-color: white;
}
.box1 .head .gouwu .g1{
    display: inline-block;
    width: 30px;
    height: 20px;
    background: url("07购物车.png") no-repeat 3px 5px;
    margin-left: 18px;
}
.box1 .head .d_ipt ul{
    padding: 0;
    width: 500px;
    height: 30px;
    position: absolute;
    top: 90px;
    left: 400px;
}
.box1 .head .d_ipt ul li{
    list-style: none;
    float: left;
    margin-left: 4px;
}
.box1 .head .d_ipt ul li a{
    text-decoration: none;
    color: #999999;
    font-size: 12px;
}
.box1 .head .d_ipt ul li .c1{
    color: #F10215;
}
.box1 .head .head22{
    position: absolute;
    width: 1000px;
    height: 20px;
    top: 130px;
    left: 280px;
}
.box1 .head .head22 ul{
    padding: 0;
}
.box1 .head .head22 ul li{
    list-style: none;
    float: left;
    margin-left: 10px;
}
.box1 .head .head22 ul .bian{
    border-left: 1px solid #999999;
}
.box1 .head .head22 ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: 黑体;
    color: #333333;
    font-weight: bold;
    margin-left: 5px;
}
.box1 .head .head23{
    position: absolute;
    width: 190px;
    height: 40px;
    top: 132px;
    left: 1000px;
    background: url("08.png") no-repeat 0px 0px;
}
/* head  end*/
.box1 .middle{
    padding: 0;
    width: 1090px;
    height: 480px;
    position: relative;
    left: 100px;
    top: 173px;
}
.box1 .middle .m_left{
    display: inline-block;
    width: 180px;
    height: 480px;
    float: left;
    background-color: #6E6568;
    margin-top: -41px;
}
.box1 .middle .m_left ul li{
    list-style: none;
    margin-left: -23px;
    margin-top: 7px;
}
.box1 .middle .m_left ul li a {
    text-decoration: none;
    color: white;
}
/* left  end*/
.box1 .middle .m_center{
    display: inline-block;
    width: 700px;
    height: 480px;
    margin-left: 5px;
}
.box1 .middle .m_center .m_center_top{
    width: 710px;
    height: 340px;
    background: url("b7.jpg") no-repeat;
    margin-top: -41px;
}
.box1 .middle .m_center .m_center_bottom{
    width: 710px;
    height: 130px;
    margin-top: 10px;
}
.box1 .middle .m_center .m_center_bottom .m_center_b_left{
    width: 348px;
    height: 130px;
    float: left;
    background: url("10.jpg") no-repeat;
    margin-top: 1px;
}
.box1 .middle .m_center .m_center_bottom .m_center_b_right{
    width: 348px;
    height: 130px;
    float: right;
    background: url("9.jpg") no-repeat;
    margin-top: 1px;
}
/* center  end*/
.box1 .middle .m_right{
    display: inline-block;
    width: 190px;
    height: 480px;
    float: right;
    margin-top: -41px;
    background: white;
}
.box1 .middle .m_right .m_r_top{
    width: 190px;
    height: 200px;
}
.box1 .middle .m_right .m_r_top .pic1 .pic{
    width: 50px;
    height: 50px;
    background: url("09-1头像框.png") no-repeat -70px 0px;
    margin-top: 10px;
}
.box1 .middle .m_right .m_r_top .pic1{
    width: 48px;
    height: 48px;
    background: url("09-2头像.jpg") no-repeat -13px -25px;
    margin-left: 10px;
}
.box1 .middle .m_right .m_r_top span{
    float: right;
    font-size: 12px;
    color: #666666;
    margin-top: -36px;
    margin-right: 29px;
}
.box1 .middle .m_right .m_r_top span a{
    text-decoration: none;
    font-size: 12px;
    color: #666666;
}
.box1 .middle .m_right .m_r_top input{
    border: 2px solid #E01222;
    color: #E01222;
    background-color: white;
    margin-left: 10px;
    margin-top: 15px;
}
.box1 .middle .m_right .m_r_top .biao{
    width: 100%;
    height: 25px;
}
.box1 .middle .m_right .m_r_top .biao ul{
    margin-left: 0px;
    padding: 0px;
    border-top: 1px solid #E6E6E6;
}
.box1 .middle .m_right .m_r_top .biao ul .b1{
    border-left: 1px solid #E6E6E6;
}
.box1 .middle .m_right .m_r_top .biao ul li{
    list-style: none;
    float: left;
    margin-left: 15px;
}
.box1 .middle .m_right .m_r_top .biao ul li a{
    text-decoration: none;
    color: #666;
    font-size: 13px;
    padding-left: 5px;
}
.box1 .middle .m_right .m_r_top .biao .h{
    margin: -12px 9px;
}
/* right_top  end*/
.box1 .middle .m_right .m_r_bottom{
    width: 190px;
    height: 200px;
    margin-top: 92px;
}
.box1 .middle .m_right .m_r_bottom .p1{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat 10px -75px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p1 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p2{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat 10px -30px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p2 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p3{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat -33px -75px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p3 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p4{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat -78px 15px;
    border-top: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p4 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p5{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat -77px -30px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p5 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p6{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat 10px 15px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p6 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p7{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat -35px -30px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p7 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p8{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat -77px -72px;
    border-top: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p8 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p9{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat -122px 13px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p9 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p10{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat -122px -30px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p10 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p11{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat -122px -72px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p11 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 38px;
}
.box1 .middle .m_right .m_r_bottom .p12{
    width: 45px;
    height: 55px;
    background: url("10话费机票.png") no-repeat -35px 13px;
    border-top: 1px solid #E6E6E6;
    float: left;
}
.box1 .middle .m_right .m_r_bottom .p12 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 38px;
}
/* middle  end*/
/* box1  end*/
.box2{
    position: relative;
    padding: 0px;
}
.box2 .b2head{
    width: 1090px;
    height: 50px;
    background: url("12标题.png") no-repeat;
    margin-top: 138px;
    margin-left: 100px;
}
.box2 .bh2{
    width: 20px;
    height: 20px;
    position: absolute;
    background: url("11-1角标阴影右指向符号等.png") no-repeat -192px -53px;
    left: 99px;
    top: 1px;
}
.box2 .middle1{
    width: 1090px;
    height: 230px;
    margin-left: 100px;
    margin-top: 5px;
    background: white;
}
.box2 .middle1 .m11{
    display: inline-block;
     width: 175px;
     height: 230px;
     background: url("11 (1).jpg") no-repeat;
     border-right: 1px solid #e7e7e7;
    float: left;
    margin-left: 6px;
 }
.box2 .middle1 .m11 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 150px;
}
.box2 .middle1 .m12{
    display: inline-block;
    width: 175px;
    height: 230px;
    background: url("11 (2).jpg") no-repeat;
    border-right: 1px solid #e7e7e7;
    float: left;
    margin-left: 6px;
}
.box2 .middle1 .m12 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 150px;
}
.box2 .middle1 .m13{
    display: inline-block;
    width: 175px;
    height: 230px;
    background: url("11 (3).jpg") no-repeat;
    border-right: 1px solid #e7e7e7;
    float: left;
    margin-left: 6px;
}
.box2 .middle1 .m13 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 150px;
}
.box2 .middle1 .m14{
    display: inline-block;
    width: 175px;
    height: 230px;
    background: url("11 (4).jpg") no-repeat;
    border-right: 1px solid #e7e7e7;
    float: left;
    margin-left: 6px;
}
.box2 .middle1 .m14 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 150px;
}
.box2 .middle1 .m15{
    display: inline-block;
    width: 175px;
    height: 230px;
    background: url("11 (1).png") no-repeat;
    border-right: 1px solid #e7e7e7;
    float: left;
    margin-left: 6px;
}
.box2 .middle1 .m15 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 150px;
}
.box2 .middle1 .m16{
    display: inline-block;
    width: 175px;
    height: 230px;
    background: url("11 (5).jpg") no-repeat;
    float: left;
}
/*  middle1  end*/
.box2 .middle2{
    width: 1090px;
    height: 450px;
    margin-left: 100px;
    margin-top: 10px;
}
.box2 .middle2 .m21{
    display: inline-block;
    width: 361px;
    height: 450px;
    float: left;
    background: white;
}
.box2 .middle2 .m21 .m21_top{
    width: 361px;
    height: 50px;
    background: url("京东_03.jpg") no-repeat -3px -2px;
}
.box2 .middle2 .m21 .m21_bottom{
    width: 361px;
    height: 400px;
}
.box2 .middle2 .m21 .m21_bottom .m21_b_1{
    width: 170px;
    height: 130px;
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #499Ba1;
    margin-left: 3px;
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    background: url("1.jpg!q90.webp.jpg") no-repeat;
    text-align: right;
}
.box2 .middle2 .m21 .m21_bottom .m21_b_2{
    width: 170px;
    height: 130px;
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #499Ba1;
    margin-left: 3px;
    border-bottom: 1px solid #E6E6E6;
    background: url("2.jpg!q90.webp.jpg") no-repeat;
    text-align: right;
}
.box2 .middle2 .m21 .m21_bottom .m21_b_3{
    width: 170px;
    height: 130px;
    display: inline-block;
    float: left;
    font-size: 14px;
    margin-left: 3px;
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    color: #499Ba1;
    background: url("3.jpg!q90.webp.jpg") no-repeat;
    text-align: right;
}
.box2 .middle2 .m21 .m21_bottom .m21_b_4{
    width: 170px;
    height: 130px;
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #499Ba1;
    margin-left: 3px;
    border-bottom: 1px solid #E6E6E6;
    background: url("4.jpg!q90.webp.jpg") no-repeat;
    text-align: right;
}
.box2 .middle2 .m21 .m21_bottom .m21_b_5{
    width: 170px;
    height: 130px;
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #499Ba1;
    margin-left: 3px;
    border-right: 1px solid #E6E6E6;
    background: url("5.jpg!q90.webp.jpg") no-repeat;
    text-align: right;
}
.box2 .middle2 .m21 .m21_bottom .m21_b_6{
    width: 170px;
    height: 130px;
    display: inline-block;
    float: left;
    font-size: 14px;
    margin-left: 3px;
    color: #499Ba1;
    background: url("6.jpg!q90.webp.jpg") no-repeat;
    text-align: right;
}
/*  middle2_m21  end*/
.box2 .middle2 .m22{
    display: inline-block;
    width: 361px;
    height: 450px;
    margin-left: 2px;
    background: white;
}
.box2 .middle2 .m22 .m22_top{
    width: 361px;
    height: 50px;
    background: url("京东_05.jpg") no-repeat -3px -2px;
}
.box2 .middle2 .m22 .m22_middle{
    width: 361px;
    height: 200px;
    border-bottom: 1px solid #E6E6E6;
}
.box2 .middle2 .m22 .m22_middle span{
    display: inline-block;
    font-size: 12px;
    color: #666;
    margin-left: 30px;
    margin-top: 30px;
}
.box2 .middle2 .m22 .m22_middle .m22_m_1{
    display: inline-block;
    width: 120px;
    height: 120px;
    float: left;
    background: url("1.jpg") no-repeat;
}
.box2 .middle2 .m22 .m22_middle .m22_m_2{
    display: inline-block;
    width: 120px;
    height: 120px;
    float: left;
    background: url("2.jpg") no-repeat;
}
.box2 .middle2 .m22 .m22_middle .m22_m_3{
    display: inline-block;
    width: 120px;
    height: 120px;
    float: left;
    background: url("3.jpg") no-repeat;
}
.box2 .middle2 .m22 .m22_bottom{
    width: 361px;
    height: 200px;
}
.box2 .middle2 .m22 .m22_bottom span{
    display: inline-block;
    width: 361px;
    font-size: 12px;
    color: #666;
    margin-left: 30px;
    margin-top: 30px;
}
.box2 .middle2 .m22 .m22_bottom .m22_b_1{
    display: inline-block;
    float: left;
    width: 120px;
    height: 130px;
    background: url("4.jpg") no-repeat;
}
.box2 .middle2 .m22 .m22_bottom .m22_b_2{
    display: inline-block;
    float: left;
    width: 120px;
    height: 130px;
    background: url("5.jpg") no-repeat;
}
.box2 .middle2 .m22 .m22_bottom .m22_b_3{
    display: inline-block;
    float: left;
    width: 120px;
    height: 130px;
    background: url("6.jpg") no-repeat;
}
/*  middle2_m22  end*/
.box2 .middle2 .m23{
     display: inline-block;
     width: 361px;
     height: 450px;
     float: right;
    background: white;
 }
.box2 .middle2 .m23 .m23_top{
    width: 361px;
    height: 50px;
    background: url("京东_07.jpg") no-repeat -3px -2px;
}
.box2 .middle2 .m23 .m23_bottom{
    width: 361px;
    height: 400px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_t{
    width: 361px;
    height: 30px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_t ul{
    width: 361px;
    height: 30px;
    padding: 0px;
    border-bottom: 1px solid #E6E6E6;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_t ul li{
    list-style: none;
    float: left;;
    margin-left: 0px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_t ul .l4{
    border-right: 1px solid #E6E6E6;
    margin-left: 20px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_t ul .l5{
    margin-left: 20px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_t ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #666;
   margin-right: 5px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b{
    width: 361px;
    height: 370px;
    margin-top: 10px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_1{
    display: inline-block;
    width: 110px;
    height: 150px;
    float: left;
    border-bottom: 1px solid #E6E6E6;
    background: url("33 (1).jpg") no-repeat;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_1 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 100px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_1 .b11{
    width: 20px;
    height: 30px;
    position: absolute;
    background: url("11-1角标阴影右指向符号等.png") no-repeat -110px -53px;
    margin-top: -130px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_2{
    display: inline-block;
    width: 110px;
    height: 150px;
    float: left;
    border-left: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    background: url("33 (2).jpg") no-repeat;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_2 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 100px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_2 .b12{
    width: 20px;
    height: 30px;
    position: absolute;
    margin-top: -130px;
    background: url("11-1角标阴影右指向符号等.png") no-repeat -55px -113px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_3{
    display: inline-block;
    width: 110px;
    height: 150px;
    float: left;
    border-left: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    background: url("33 (3).jpg") no-repeat;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_3 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 100px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_3 .b13{
    width: 20px;
    height: 30px;
    position: absolute;
    margin-top: -130px;
    background: url("11-1角标阴影右指向符号等.png") no-repeat -60px -53px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_4{
    display: inline-block;
    width: 110px;
    height: 150px;
    float: left;
    background: url("33 (4).jpg") no-repeat;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_4 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 100px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_4 .b14{
    width: 20px;
    height: 30px;
    position: absolute;
    margin-top: -130px;
    background: url("11-1角标阴影右指向符号等.png") no-repeat -110px -113px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_5{
    display: inline-block;
    width: 110px;
    height: 150px;
    float: left;
    border-left: 1px solid #E6E6E6;
    background: url("33 (5).jpg") no-repeat;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_5 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 100px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_5 .b15{
    width: 20px;
    height: 30px;
    position: absolute;
    margin-top: -130px;
    background: url("11-1角标阴影右指向符号等.png") no-repeat -110px -113px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_6{
    display: inline-block;
    width: 110px;
    height: 150px;
    float: left;
    border-left: 1px solid #E6E6E6;
    background: url("33 (6).jpg") no-repeat;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_6 span{
    display: inline-block;
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 100px;
}
.box2 .middle2 .m23 .m23_bottom .m23_b_b .m23_b_6 .b16{
    width: 20px;
    height: 30px;
    position: absolute;
    margin-top: -130px;
    background: url("11-1角标阴影右指向符号等.png") no-repeat -110px -113px;
}
/*  middle2  end*/
.box2 .middle3{
    width: 1090px;
    margin-left: 100px;
    height: 250px;
    margin-top: 10px;
 }
.box2 .middle3 .m31{
    display: inline-block;
    float: left;
    width: 720px;
    height: 250px;
}
.box2 .middle3 .m31 .m31_t{
    width: 720px;
    height: 50px;
    background: url("12标题.png") no-repeat;
}
.box2 .middle3 .m31 .m31_t .m31_t1{
    width: 20px;
    height: 20px;
    background: url("11-1角标阴影右指向符号等.png") no-repeat -192px -53px;
}
.box2 .middle3 .m31 .m31_b{
    width: 720px;
    height: 200px;
    background: white;
}
.box2 .middle3 .m31 .m31_b .m31_1{
    display: inline-block;
    float: left;
    width: 180px;
    height: 220px;
    border-right: 1px solid #E6E6E6;
    background: url("22 (7).jpg") no-repeat 30px 0px;
}
.box2 .middle3 .m31 .m31_b .m31_2{
    display: inline-block;
    float: left;
    width: 180px;
    height: 220px;
    border-right: 1px solid #E6E6E6;
    background: url("22 (1).jpg") no-repeat 30px 0px;
}
.box2 .middle3 .m31 .m31_b .m31_3{
    display: inline-block;
    float: left;
    width: 180px;
    height: 220px;
    border-right: 1px solid #E6E6E6;
    background: url("22 (2).jpg") no-repeat 30px 0px;
}
.box2 .middle3 .m31 .m31_b .m31_4{
    display: inline-block;
    float: left;
    width: 177px;
    height: 220px;
    background: url("22 (1).png") no-repeat 30px 0px;
}
.box2 .middle3 .m32{
    display: inline-block;
    float: right;
    width: 360px;
    height: 250px;
}
.box2 .middle3 .m32 .m32_t{
    width: 360px;
    height: 50px;
    background: url("京东_13.jpg") no-repeat;
}
.box2 .middle3 .m32 .m32_b{
    width: 360px;
    height: 200px;
    background: white;
}
.box2 .middle3 .m32 .m32_b .m32b1{
    display: inline-block;
    float: left;
    width: 200px;
    height: 150px;
    background: url("14me素材.jpg") no-repeat;
    margin-left: 10px;
    margin-top: 10px;
}
.box2 .middle3 .m32 .m32_b .m32b2{
    display: inline-block;
    float: right;
    width: 130px;
    height: 150px;
    margin-left: 5px;
    margin-top: 10px;
}
.box2 .middle3 .m32 .m32_b .m32b2 .b21{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.box2 .middle3 .m32 .m32_b .m32b2 .b22{
    font-size: 12px;
    color: #999;
}
.box2 .middle3 .m32 .m32_b .m32b2 a{
    text-decoration: none;
    font-size: 12px;
    color: #4f629f;
}
/*  middle3  end*/
.box2 .bottom2{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: #e0e0e0;
}
.box2 .bottom2 ul{
    margin-left: 50px;
    padding: 0px;
}
.box2 .bottom2 ul li{
    list-style: none;
}
.box2 .bottom2 ul .bottom2_1{
    float: left;
    width: 400px;
    height: 100px;
    background: url("44 (2).jpg") no-repeat;
}
.box2 .bottom2 ul .bottom2_2{
    float: left;
    width: 400px;
    height: 100px;
    background: url("44 (1).jpg") no-repeat;
}
.box2 .bottom2 ul .bottom2_3{
    float: left;
    width: 400px;
    height: 100px;
    background: url("44 (3).jpg") no-repeat;
}
/* box2  end*/
.box3 .top3{
    width: 100%;
    height: 100px;
    background-color: #E6E6E6;
    margin-top: 20px;
    border-bottom: 1px solid #d6d6d6;
}
.box3 .top3 .top3_1{
    display: inline-block;
    float: left;
    width: 208px;
    height: 100px;
    background: url("55 (4).jpg") no-repeat;
    margin-top: 30px;
    margin-left: 150px;
}
.box3 .top3 .top3_2{
    display: inline-block;
    float: left;
    width: 208px;
    height: 100px;
    background: url("55 (1).jpg") no-repeat;
    margin-top: 30px;
    margin-left: 50px;
}
.box3 .top3 .top3_3{
    display: inline-block;
    float: left;
    width: 208px;
    height: 100px;
    background: url("55 (2).jpg") no-repeat;
    margin-top: 30px;
    margin-left: 50px;
}
.box3 .top3 .top3_4{
    display: inline-block;
    float: left;
    width: 208px;
    height: 100px;
    background: url("55 (3).jpg") no-repeat;
    margin-top: 30px;
    margin-left: 50px;
}
/*  top3  end*/
.box3 .center3{
    width: 100%;
    height: 220px;
    background-color: #E6E6E6;
    position: relative;
    border-bottom: 1px solid #d6d6d6;
}
.box3 .center3 .c31{
    display: inline-block;
    width: 100px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 120px;
}
.box3 .center3 .c31 ul{
    width: 100px;
    height: 200px;
    padding: 0px;
}
.box3 .center3 .c31 ul li{
    list-style: none;
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
}
.box3 .center3 .c31 ul .c311{
    font-size: 14px;
    font-weight: bold;
}
.box3 .center3 .c32{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 320px;
    width: 100px;
    height: 200px;
}
.box3 .center3 .c32 ul{
    width: 100px;
    height: 200px;
    padding: 0px;
}
.box3 .center3 .c32 ul li{
    list-style: none;
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
}
.box3 .center3 .c32 ul .c321{
    font-size: 14px;
    font-weight: bold;
}
.box3 .center3 .c33{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 520px;
    width: 100px;
    height: 200px;
}
.box3 .center3 .c33 ul{
    width: 100px;
    height: 200px;
    padding: 0px;
}
.box3 .center3 .c33 ul li{
    list-style: none;
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
}
.box3 .center3 .c33 ul .c331{
    font-size: 14px;
    font-weight: bold;
}
.box3 .center3 .c34{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 720px;
    width: 100px;
    height: 200px;
}
.box3 .center3 .c34 ul{
    width: 100px;
    height: 200px;
    padding: 0px;
}
.box3 .center3 .c34 ul li{
    list-style: none;
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
}
.box3 .center3 .c34 ul .c341{
    font-size: 14px;
    font-weight: bold;
}
.box3 .center3 .c35{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 920px;
    width: 100px;
    height: 200px;
}
.box3 .center3 .c35 ul{
    width: 100px;
    height: 200px;
    padding: 0px;
}
.box3 .center3 .c35 ul li{
    list-style: none;
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
}
.box3 .center3 .c35 ul .c351{
    font-size: 14px;
    font-weight: bold;
}
.box3 .center3 .c36{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 1120px;
    width: 200px;
    height: 150px;
    background: url("mWuMlKovsAAAAAElFTkSuQmCC.png") no-repeat 0px 0px;
}
.box3 .center3 .c36 ul{
    width: 200px;
    height: 200px;
    padding: 0px;
}
.box3 .center3 .c36 ul li{
    list-style: none;
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
}
.box3 .center3 .c36 ul .c361{
    font-size: 14px;
    font-weight: bold;
}
.box3 .center3 .c36 ul .c362{
    margin-left: 50px;
}
/*  center3  end*/
.box3 .bottom3{
    width: 100%;
    height: 200px;
    background-color: #E6E6E6;
    position: relative;
}
.box3 .bottom3 .b31{
    width: 900px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 200px;
}
.box3 .bottom3 .b31 span{
    display: inline-block;
    width: 900px;
    height: 50px;
    font-size: 12px;
    color: #666666;
}
.box3 .bottom3 .b32{
    width: 900px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 200px;
}
.box3 .bottom3 .b32 .b321{
    font-size: 12px;
    color: #999;
    margin-left: 45px;
    margin-top: 10px;
}
.box3 .bottom3 .b32 .b322{
    font-size: 12px;
    color: #999;
    margin-left: 20px;
    margin-top: 5px;
}
.box3 .bottom3 .b32 .b323{
    font-size: 12px;
    color: #999;
    margin-left: 160px;
    margin-top: 5px;
}
.box3 .bottom3 .b32 .b324{
    font-size: 12px;
    color: #999;
    margin-left: 300px;
    margin-top: 5px;
}
.box3 .bottom3 .b33{
    width: 650px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 300px;
    background: url("55 (1).png") no-repeat;
}
/* box3  end*/